/* Bubble Messages  */

.messages {
  display: block;
  width: 100%;
  /* margin-top: 1rem; */
}

.bubble {
  margin-bottom: 0.25rem;
  display: inline-block;
  max-width: 35%;
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  padding: 1.5rem;
  opacity: 0;
  /* transform: translateX(-200px); */
}

.message {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.message a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
  background-color: #1f2937;
  font-family: 'Poppins', sans-serif;
}