footer {
  display: flex;
  max-height: 25vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.copy-r {
  width: 50%;
}

.sponsor {
  width: 50%;
}

.sponsor img {
  width: 15%;
  height: auto;
}
