.section {
  display: flex;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: 5px solid #cccccc;
}

.section-img {
  width: 50%;
  text-align: center;
}

.section-img img {
  max-height: 100%;
  width: auto;
  align-self: center;
}

.section-caption {
  width: 50%;
  align-self: center;
  padding: 5px;
}

.left {
  order: 0;
}

.right {
  order: 1;
}
