.bungkus-table {
  display: flex;
  width: 100%;
  padding: 2%;
}

.skill-table {
  width: 100%;
  border-collapse: collapse;
  align-self: center;
}
.skill-table tr {
  height: auto;
  border-right: 4px solid #dadada;
  border-left: 4px solid #dadada;
}
.skill-table td {
  width: 20%;
  height: 5vh;
  text-align: center;
}

.sangad-bisa {
  background: #ff7373;
  border: 3px solid #ff7373;
}

tr.row-judul {
  text-align: center;
  border: 0px;
}

.row-putih {
  background: #f2f2f2;
}

.row-hitam {
  background: #969696;
}

.row-sangad {
  border-left: 3px solid #ff7373;
  border-right: 3px solid #ff7373;
  font-weight: bold;
}
